In [16]:
SELECT CASE GROUPING_ID(sz.szoba_szama, year(f.mettol))
        WHEN 0 THEN COUNT(SZ.SZOBA_ID)
        WHEN 1 THEN 'Részösszeg'
        WHEN 3 THEN 'Szoba összesen'
    END,
    YEAR(METTOL)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
GROUP BY ROLLUP (sz.szoba_szama, year(f.mettol))

(No column name),(No column name)
52,2016
5,2017

: Msg 245, Level 16, State 1, Line 1
Conversion failed when converting the varchar value 'Részösszeg' to data type int.

In [13]:
SELECT sz.SZALLAS_NEV, f.FELNOTT_SZAM + f.GYERMEK_SZAM
FROM Szallashely sz JOIN szoba szo ON sz.SZALLAS_ID = szo.SZALLAS_FK
                   JOIN foglalas f ON f.SZOBA_FK = szo.SZOBA_ID
WHERE sz.SZALLAS_NEV =
(
SELECT TOP 1 sz.SZALLAS_NEV
FROM Szallashely sz JOIN szoba szo ON sz.SZALLAS_ID = szo.SZALLAS_FK
                   JOIN foglalas f ON f.SZOBA_FK = szo.SZOBA_ID
GROUP BY sz.SZALLAS_NEV
ORDER BY count(*) ASC
)

SZALLAS_NEV,(No column name)
Családi Ház,4
Családi Ház,2
Családi Ház,3
Családi Ház,2
Családi Ház,3
Családi Ház,4
Családi Ház,2
Családi Ház,4
Családi Ház,3
Családi Ház,3
Családi Ház,3
Családi Ház,2
Családi Ház,3
Családi Ház,3
Családi Ház,3
Családi Ház,1
Családi Ház,3
Családi Ház,4